/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Charles Hirsch
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(230, 230, 50);
    -fx-border-color: rgb(200, 200, 200);
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(190, 190, 90);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-weight: bold;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(250, 250, 190);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-weight: bold;
}
.vertical_toolbar_button {
    -fx-background-color: rgb(250, 250, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-font-size: 14px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-font-size: 14px;
}

.ssm_HBox {
    -fx-background-color: rgb(255, 255, 0);
}

.language {
    -fx-alignment: center;
    -fx-background-color: rgb(255, 255, 0);
    -fx-spacing: 10px;
    -fx-padding: 20px 20px 20px 20px;   
}
