/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2015, 1:12:00 AM
    Author     : Charles Hirsch
*/


body {
    background-color: rgb(230, 230, 50);
}
h1 {
    display: inline;   
    border-style: solid;
    border-width: 2px;
    font-family: sans-serif;
}
img {    
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 480px;
}
p {
    text-align: center;
    height: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.buttons{
    text-align: center;
}
#primaryImage{
    padding-top: 20px;
}
.imageBox{
    display: block;
    margin: 0 auto;
	width: 1280px;
	height: 480px;
	padding-bottom: 10px;
}
.placeholder {

}
